body{
     min-height: 100vh; /* No matter what screen height must be 100% of that device*/
     display: flex;
     justify-content: center; /*Set the element Center horizontly */
     align-items:center;

}

.colorBtn{

	padding: 0.25rem 0.5rem;
	border:3px solid white;
    border-radius: 7px;
    color: #fefefe;
    background: rgba(0,0,0,0.6);
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;  /* Remove the annoying shadow after licking the button */
}

.colorBtn:hover {
	background: rgb(0,0,0);
}